doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', type='text/css', href='http://necolas.github.com/normalize.css/1.0.2/normalize.css')
        link(rel='stylesheet', type='text/css', href='https://rawgithub.com/tilomitra/csslist/master/css/list-core.css')
        link(rel='stylesheet', type='text/css', href='https://rawgithub.com/tilomitra/csslist/master/css/list.css')
        link(rel='stylesheet', type='text/css', href='https://rawgithub.com/tilomitra/csslist/master/css/list-responsive.css')
        link(rel='stylesheet', type='text/css', href='https://rawgithub.com/tilomitra/csslist/master/css/list-paginator.css')
        link(rel='stylesheet', type='text/css', href='http://yui.yahooapis.com/3.8.0/build/cssbutton/cssbutton-min.css')
        link(rel='stylesheet', type='text/css', href='https://rawgithub.com/tilomitra/yuicss-common/master/ui.css')
        link(rel='stylesheet', type='text/css', href='http://tilomitra.github.com/cssextras/cssextras.css')
        link(rel='stylesheet', type='text/css', href='http://yui.yahooapis.com/3.8.0/build/cssbutton/cssbutton-min.css')
        script(src='http://yui.yahooapis.com/3.8.0/build/yui/yui-min.js')
        script(src='/js/libs/crafty-min.js')
    body.yui3-skin-sam
        #mainnav.yui3-menu.yui3-menu-open.yui3-menu-horizontal.yui3-menu-fixed
            ul.yui3-menu-dark
                li.yui3-menu-active
                    a(href='' ) Home
                li
                    a(href='' ) Other
        block content
        script
            YUI().use('node-base', 'event-base', function (Y) {
                
            });